<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Static Webpage </title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/mainpage.css">    


</head>
<body>
    <header>
    <div class="wrapper">
        <div class="logo">
          <h1>NUTRITION</h1>  
         </div>
        </div>
<ul class="nav-area">
<li><a type="button" href="">Home</a></li>
<li><a type="button" href="about">About</a></li>
<li><a type="button" href="contactus">Contact US</a></li>
<li><a type="button" href="logout">Log Out</a></li>
</ul>
</div>
<div class="welcome-text">
        <h1>
    Welcome {{username}}!<h3> <span>Nutrition Values</span></h3></h1>
<h3>Input url of the picture to plan a diet</h3>
<br>
<form action="/mainpage" method="post">

      <input type="text" id="username" class="fadeIn second" name="url" placeholder="URL">
       <br>
       <br>
       <div class="jinja">
          <h3>{{msg}}</h3>
       </div>
</form>
 <a href="values">submit</a>
 </div>



</header>
</body>
</html>
